* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
  }
/* The grid: Four equal columns that floats next to each other */
swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  .prices {
    display: flex;
    gap: 50px;
  }
  
  .stock {
    display: flex;
    gap: 5px;
  }

  .stock  p:nth-child(2) {
    color: #44a038;
  }
  
  .quantity {
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: 578px) {
      .quantity {
        width: 100%;
        display: block;
      }
  }
  
  .share .social {
    font-size: 1rem;
    gap: 20px;
    display: flex;
    opacity: .5;
  }
  
  .social i:hover {
    opacity: 1;
  }
  
  .links {
    display: flex;
    gap: 30px;
    font-weight: 600;
    margin-top: 10%;
  }
  
  .links p {
    line-height: 40px;
  }

  /*added this so the links are aligned*/
  @media screen and (max-width:600px) {
    .links {
      display: block;
    }
  }