* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
  }
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  #tap-gallery {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
  .prices {
    display: flex;
    gap: 50px;
  }
  
  .stock {
    display: flex;
    gap: 5px;
  }

  .stock  p:nth-child(2) {
    color: #44a038;
  }
  
  .quantity {
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: 578px) {
      .quantity {
        width: 100%;
        display: block;
      }
  }
  
  .share .social {
    font-size: 1rem;
    gap: 20px;
    display: flex;
    opacity: .5;
  }
  
  .social i:hover {
    opacity: 1;
  }
  
  .links {
    display: flex;
    gap: 30px;
    font-weight: 600;
    margin-top: 10%;
  }
  
  .links p {
    line-height: 40px;
  }

  /*added this so the links are aligned*/
  @media screen and (max-width:600px) {
    .links {
      display: block;
    }
  }